
# El prefijo VITE_ es obligatorio para que las variables de entorno estén disponibles en el código del cliente (frontend). Estas variables se pueden acceder a través de import.meta.env.VITE_NOMBRE_VARIABLE en el código de Vue.js.
VITE_STAGE=dev

VITE_TESLO_API_URL=http://localhost:3000/api